:root {
  --bg-color: #ECDBBA;
  --bg-color-10: #e4cb9b;

  --base-color: #161616;

  --primary-color: #346751;
  --secondary-color: #C84B31;

  --error-color: var(--secondary-color);

  --note-width: 28px;
  --note-margin: 4px;

  --font-size-small: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #161616;
    --bg-color-10: #333;

    --base-color: #ECDBBA;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-color);
  color: var(--base-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
