.container {
  width: var(--note-width);
  height: var(--note-width);
  border: 2px solid var(--base-color);
  border-radius: 2px;
  margin: var(--note-margin);
  box-sizing: border-box;
  background-color: var(--bg-color);
  cursor: pointer;
  flex-shrink: 0;
}

.hasAccent {
  background-color: var(--bg-color-10);
}


.isOn {
  background-color: var(--primary-color);
}

.isActive {
  border-color: var(--secondary-color);
  box-shadow: 0 0 0 2px var(--secondary-color);
}
